input {
    display: inline-block;
}
li {
    list-style: none;
}
.messages {
    border: 1px solid black;
    display: block;
    width: 500px;
}
.error {
    color: red;
}
.success {
    color: green;
}

.row1 {
    background: pink;
}
.row2 {
    background: #FFF;
}
#register, #login {
  border: 2px solid black;
  display: inline-block;
  padding: 20px;
}
#login {
  vertical-align: top;
}
