* {
  padding: 0px;
  margin: 0;
}
body {
  margin: 50px
}
head * {
  display: inline;
}
#logout {
  vertical-align: top;
}
input {
    display: inline-block;
}
li {
    list-style: none;
}
.messages {
    border: 1px solid black;
    display: block;
    width: 500px;
}
.error {
    color: red;
}
.success {
    color: green;
}
.thead {
  background: gray;
}
.row1 {
    background: #D3D3D3;
}
.row2 {
    background: #FFF;
}
table {
  border-collapse: collapse;
  margin-bottom: 50px
}
table, th, td {
  border: 2px solid black;
  padding: 5px;
}
